@use "./../01-abstracts/" as *;

.header {
  margin: 31px 24px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: rem(26px);
    font-weight: 700;
    line-height: 39px;
    color: #222731;
  }

  &__toggle--light {
    color: $font-secondary--light;
  }

  &__toggle--dark {
    color: $font--dark;
  }

  @media (prefers-color-scheme: light) {
    &__toggle--dark {
      display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    &__title {
      color: $font--dark;
    }

    &__toggle--light {
      display: none;
    }
  }
}
