@use "./../01-abstracts/" as *;
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $background-primary--light;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $background-primary--dark;
  }
}
