@use "../01-abstracts/" as *;

.card {
  background-color: $background-secondary--light;
  margin-top: 16px;
  padding: 32px 24px 48px;
  border-radius: 15px;
  
  @include breakpoint($md) {
    margin-top: 24px;
    padding: 40px;
  }

  @media (prefers-color-scheme: light) {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }

  @media (prefers-color-scheme: dark) {
    background-color: $background-secondary--dark;
  }
}

.user {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  gap: 19px;

  @include breakpoint($md) {
    gap: 41px;
    margin-bottom: 24px;
  }

  &__img {
    width: 70px;
    border-radius: 100%;

    @include breakpoint($md) {
      width: 117px;
    }
  }

  &__username {
    margin-bottom: 6px;
  }

  &__date-joined {
    color: $font-terciary--light;
    @media (prefers-color-scheme: dark) {
      color: $font--dark;
    }
  }
}

.description {
  margin: 33px 0 23px;
  line-height: 25px;

  @include breakpoint($md) {
    margin: 32px 0 30px;
  }
}

.dashboard {
  background-color: $background-primary--light;
  border-radius: 10px;
  margin: 23px 0 24px;
  padding: 18px 14px 19px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;

  @include breakpoint($md) {
    text-align: left;
    margin: 32px 0 30px;
    padding: 15px 96px 17px 32px;
    justify-content: space-between;
  }

  &__li {
    &-title {
      margin-bottom: 8px;
      @include breakpoint($md) {
        margin-bottom: 1px;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $background-primary--dark;
  }
}

.links {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  line-height: 19px;

  @include breakpoint($md){
    row-gap: 19px;
    column-gap: 0px;
    max-height: 63px;
  }

  &__li {
    display: flex;
    align-items: center;
    gap: 13px;

    &-location {
      margin-right: 6px;
    }
  }
}
