/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f6f8ff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #141d2f;
  }
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: #4b6a9b;
  font-size: 0.8125rem;
  line-height: 19px;
}
@media (min-width: 640px) {
  body {
    font-size: 0.9375rem;
    line-height: 25px;
  }
}

.h1 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  color: #2b3442;
}
@media (min-width: 640px) {
  .h1 {
    font-size: 1.625rem;
    line-height: 38px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  color: #2b3442;
}
@media (min-width: 640px) {
  .h2 {
    font-size: 1.375rem;
    line-height: 33px;
  }
}

.h3 {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 19px;
  color: #0079ff;
}
@media (min-width: 640px) {
  .h3 {
    font-size: 1rem;
    line-height: 24px;
  }
}

.h4 {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 16px;
}
@media (min-width: 640px) {
  .h4 {
    font-size: 0.8125rem;
    line-height: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  body,
.h1,
.h2 {
    color: #fff;
  }
}
.toggle {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 19px;
  letter-spacing: 2.5px;
}

.search-btn {
  color: #fff;
  background-color: #0079ff;
  border: none;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  font-size: 0.875rem;
  line-height: 21px;
  width: 84px;
}

.header {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.header__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 39px;
  color: #222731;
}
.header__toggle--light {
  color: #4b6a9b;
}
.header__toggle--dark {
  color: #fff;
}
@media (prefers-color-scheme: light) {
  .header__toggle--dark {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .header__title {
    color: #fff;
  }
  .header__toggle--light {
    display: none;
  }
}

.search-bar {
  background-color: #fefefe;
  border-radius: 15px;
  margin: 36px 0 16px;
  min-height: 60px;
  display: flex;
  flex-flow: row wrap;
  padding: 6.5px 7px 7.5px 16px;
}
.search-bar__icon {
  width: 20px;
  height: 20px;
  align-self: center;
}
.search-bar__input {
  border: none;
  background-color: inherit;
  font-family: "Space Mono", monospace;
  font-size: 0.8125rem;
  line-height: 25px;
  color: #222731;
  flex-grow: 1;
  padding: 0;
  margin-left: 9px;
  margin-right: 7px;
}
.search-bar__input::placeholder {
  color: #4b6a9b;
}
@media (prefers-color-scheme: light) {
  .search-bar {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }
}
@media (prefers-color-scheme: dark) {
  .search-bar {
    background-color: #1e2a47;
  }
  .search-bar__input, .search-bar__input::placeholder {
    color: #fff;
  }
}

.card {
  background-color: #fefefe;
  margin-top: 16px;
  padding: 32px 24px 48px;
  border-radius: 15px;
}
@media (prefers-color-scheme: light) {
  .card {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }
}
@media (prefers-color-scheme: dark) {
  .card {
    background-color: #1e2a47;
  }
}

.user {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  gap: 19px;
}
.user__img {
  width: 70px;
  border-radius: 100%;
}
.user__username {
  margin-bottom: 6px;
}
.user__date-joined {
  color: #697c9a;
}
@media (prefers-color-scheme: dark) {
  .user__date-joined {
    color: #fff;
  }
}

.description {
  margin: 33px 0 23px;
  line-height: 25px;
}

.dashboard {
  background-color: #f6f8ff;
  border-radius: 10px;
  margin: 23px 0 24px;
  padding: 18px 14px 19px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}
.dashboard__li-title {
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  .dashboard {
    background-color: #141d2f;
  }
}

.links {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
.links__li {
  display: flex;
  align-items: center;
  gap: 13px;
}
.links__li-location {
  margin-right: 6px;
}

.wrapper {
  padding: 31px 0 79px;
  margin: 0 24px;
}
@media (min-width: 640px) {
  .wrapper {
    max-width: 573px;
    padding: 140px 0 236px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
